---
import { getCollection } from 'astro:content';

import CardContent from '@/components/CardContent.astro';
import ReviewModal from '@/components/ReviewModal.astro';
import SearchAndFilter from '@/components/SearchAndFilter.astro';
import Layout from '@/layouts/main.astro';

const filmsCollection = await getCollection('films');
const films = filmsCollection.sort((a, b) => a.data.order - b.data.order);
---

<Layout content={{ title: 'Films | Kirshway' }}>
  <main class="flex-auto min-w-0 mt-6 flex flex-col px-2 md:px-0">
    <div class="container mx-auto p-4 grow">
      <SearchAndFilter items={films} />

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-4"
        id="card-container"
      >
        {films.map((item, index) => <CardContent item={item} isAboveFold={index < 3} />)}
      </div>

      <ReviewModal id="review-modal" />
    </div>
  </main>
</Layout>
