@import 'tailwindcss';

:root {
  font-family: 'Geist Mono', monospace;
}

code, pre {
  font-family: 'JetBrains Mono', monospace;
}

body {
  @apply antialiased max-w-3xl mt-8 mx-auto text-[#fbf1c7] bg-[#282828];
}

.link-style {
  @apply underline underline-offset-4 text-[#e0d6c3] transition-colors duration-200 hover:text-[#a18fc6];
}

a.no-underline {
  @apply no-underline;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(66 7 110 / 40%) 1px, transparent 1px);
  background-size: 2px 2px;
  background-repeat: repeat;
  pointer-events: none;
  z-index: 9999;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #282828;
}

body::-webkit-scrollbar-thumb {
  background-color: #a18fc6;
  border-radius: 6px;
  border: 3px solid #282828;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #b19cd9;
}
