---
import InstagramIcon from '@assets/icons/instagram.svg';
import TelegramIcon from '@assets/icons/telegram.svg';
import XIcon from '@assets/icons/x.svg';
---

<footer class="flex flex-col gap-2 my-8">
  <p class="text-2xl font-semibold mb-2 text-accent-secondary">Socials</p>

  <ul class="flex gap-6 p-4 bg-component-primary rounded-xl">
    <li>
      <a
        href="https://t.me/KirshWay"
        class="link-style"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Telegram"
      >
        <TelegramIcon width="24" height="24" />
      </a>
    </li>
    <li>
      <a
        href="https://x.com/NemetsViktor"
        class="link-style"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="X"
      >
        <XIcon width="24" height="24" />
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/kirshway/"
        class="link-style"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Instagram"
      >
        <InstagramIcon width="24" height="24" />
      </a>
    </li>
  </ul>
</footer>
