---
import { getUrl, normalizePath } from '@/utils';

const currentUrl = Astro.url.pathname;

const navLinks = [
  { href: getUrl(''), label: 'Home' },
  { href: getUrl('blog'), label: 'Blog' },
  { href: getUrl('books'), label: 'Books' },
  { href: getUrl('films'), label: 'Films' },
  { href: getUrl('games'), label: 'Games' },
];

const normalizedCurrentUrl = normalizePath(currentUrl);
---

<header class="py-6">
  <nav class="container mx-auto px-4 py-2 flex justify-between bg-component-primary rounded-xl">
    <ul class="flex items-center gap-4 list-none">
      {
        navLinks.map((link) => {
          const normalizedLinkHref = normalizePath(link.href);
          const isActive = normalizedLinkHref === normalizedCurrentUrl;

          return (
            <li>
              <a href={link.href} class={`link-style ${isActive ? 'no-underline' : ''}`}>
                {link.label}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
