---
type Props = {
  title: string;
  content: string;
};

const { title, content } = Astro.props;
---

<div
  class="flex flex-col w-full p-4 rounded-md text-gray-300 bg-component-primary border-2 border-accent-secondary transition-all duration-200 ease-in-out hover:scale-103 hover:-translate-y-1 hover:border-accent-secondary-hover h-full"
>
  <span class="text-sm text-accent-secondary font-semibold">
    {title}
  </span>

  <span class="font-semibold text-xl">{content}</span>
</div>
