---
import { Variant } from '@/types';

const { variant } = Astro.props;

type Props = {
  variant: Variant;
};

const variantStyles: Record<Variant, { pingBgClass: string; dotBgClass: string }> = {
  [Variant.MAIN]: {
    pingBgClass: 'bg-[#a77fc5]',
    dotBgClass: 'bg-[#a77fc5]',
  },
  [Variant.GREEN]: {
    pingBgClass: 'bg-[#72bd85]',
    dotBgClass: 'bg-[#72bd85]',
  },
  [Variant.YELLOW]: {
    pingBgClass: 'bg-[#e9d75a]',
    dotBgClass: 'bg-[#e9d75a]',
  },
  [Variant.BLUE]: {
    pingBgClass: 'bg-[#3178C6]',
    dotBgClass: 'bg-[#3178C6]',
  },
  [Variant.LIGHT_BLUE]: {
    pingBgClass: 'bg-[#5ebfff]',
    dotBgClass: 'bg-[#5ebfff]',
  },
  [Variant.LIGHT_GREEN]: {
    pingBgClass: 'bg-[#38B2AC]',
    dotBgClass: 'bg-[#38B2AC]',
  },
  [Variant.BLACK]: {
    pingBgClass: 'bg-[#000]',
    dotBgClass: 'bg-[#000]',
  },
  [Variant.PINK]: {
    pingBgClass: 'bg-[#E10098]',
    dotBgClass: 'bg-[#E10098]',
  },
  [Variant.GRAY]: {
    pingBgClass: 'bg-gray-300',
    dotBgClass: 'bg-gray-300',
  },
  [Variant.RED]: {
    pingBgClass: 'bg-[#E0234E]',
    dotBgClass: 'bg-[#E0234E]',
  },
  [Variant.ORANGE]: {
    pingBgClass: 'bg-[#F05033]',
    dotBgClass: 'bg-[#F05033]',
  },
};

const styles = variantStyles[variant];

const pingClasses = `animate-ping absolute inline-flex h-full w-full rounded-full ${styles.pingBgClass} opacity-75`;
const dotClasses = `relative inline-flex rounded-full h-2 w-2 ${styles.dotBgClass}`;
---

<span class="relative flex h-2 w-2">
  <span class={pingClasses}></span>
  <span class={dotClasses}></span>
</span>
