---
export type Variant = "main" | "green" | "gray" | "yellow";

type Props = {
  variant: Variant;
};

const { variant } = Astro.props;

const variantStyles: Record<
  Variant,
  { pingBgClass: string; dotBgClass: string }
> = {
  main: {
    pingBgClass: "bg-[#a77fc5]",
    dotBgClass: "bg-[#a77fc5]",
  },
  green: {
    pingBgClass: "bg-[#72bd85]",
    dotBgClass: "bg-[#72bd85]",
  },
  yellow: {
    pingBgClass: "bg-[#e9d75a]",
    dotBgClass: "bg-[#e9d75a]",
  },
  gray: {
    pingBgClass: "bg-gray-300",
    dotBgClass: "bg-gray-300",
  },
};

const styles = variantStyles[variant];

const pingClasses = `animate-ping absolute inline-flex h-full w-full rounded-full ${styles.pingBgClass} opacity-75`;
const dotClasses = `relative inline-flex rounded-full h-2 w-2 ${styles.dotBgClass}`;
---

<span class="relative flex h-2 w-2">
  <span class={pingClasses}></span>
  <span class={dotClasses}></span>
</span>
