---
import StarIcon from '@assets/icons/star.svg';

type Props = {
  rating: number;
  maxRating?: number;
  activeColor?: string;
  inactiveColor?: string;
};

const {
  rating,
  maxRating = 10,
  activeColor = 'text-star-active',
  inactiveColor = 'text-text-secondary',
} = Astro.props;
---

<div class="flex flex-wrap gap-2">
  {
    Array.from({ length: maxRating }).map((_, index) => (
      <div class:list={['w-4 h-4', index < rating ? activeColor : inactiveColor]}>
        <StarIcon />
      </div>
    ))
  }
</div>
